@using Newtonsoft.Json
@model IEnumerable<DjValentin.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
    var message = new MessageViewModel();
    if(TempData.ContainsKey("Message"))
    {
        message = JsonConvert.DeserializeObject<MessageViewModel>(TempData["Message"].ToString());
    }    
}

@if (message != null)
{    
    <partial name= "_MessageModal" model= "message" />
}


<h1>Bookings</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flexibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.IsApproved ? "table-success" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flexibility)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Email)
                </td>
                <td>
                    <a asp-action="Approve" class="btn" onclick="return approveBooking(e);" asp-route-id="@item.Id"><i class="fas fa-thumbs-up"></i></a> |
                    <a asp-action="Edit" class="btn" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" class="btn" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>